<div id="articles-list" class="container" style="margin-top:2rem;">
  <%= @articles.length.times do |position_article| %>
  <% article = @articles[position_article] %>
    <a href="/posts/<%= article.id %>">
      <%= article.title%>
    </a>
    <hr>
  <%end%>

  <%= will_paginate @posts %>
</div>