@import "variables";

#article {
  color: $gray;
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 100%;

  #article-content {
    font-family: "Raleway";
    padding: 0rem;
    .reading_minutes {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .article-grid {
      display: grid;
      grid-template-columns: 20% 60% 20%;
      .content_table {
        border-radius: 10px;
        border: 1px solid #ebebeb;
        padding: 0.7rem 0.9rem;
        .toc-list .toc-list-item a {
          &::before {
            content: none;
          }
        }
        a {
          text-decoration: none;
        }
      }
    }
    .shared {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      margin-top: 1rem;
      .shared_count {
        align-items: center;
        display: flex;
        font-family: $content;
        i {
          color: $gray;
          font-size: 1.5rem;
          margin-right: 0.4rem;
        }
      }
      .demo_button {
        background-color: $blue;
        border-radius: 3px;
        color: $main;
        font-family: $content;
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        i {
          margin-left: 0.4rem;
        }
      }
    }
  }
  #title {
    font-family: $content;
    font-size: 2.5rem;
    text-align: center;
  }
  .trix-content {
    font-family: $content;
    font-style: normal;
    line-height: 1.9rem;
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 1280px) {
  #article {
    #article-content {
      .shared {
        gap: 1.5rem;
        justify-content: center;
      }
      .article-grid {
        display: flex;
        flex-direction: column;
        .content_table {
          margin-bottom: 1rem;
        }
      }
    }
    .trix-content {
      border-bottom: 1px solid #ebebeb;
      margin-bottom: 1rem;
      padding: 0 0.5rem;
    }
  }
}
