@import "variables";

.article-card {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 1rem 1rem 1rem 0;
  max-width: 100%;
  .thumb {
    background-size: cover;
    max-width: 340px;
    .cover_img {
      background-size: cover;
      border-radius: 10px;
      max-width: 340px;
    }
  }
  .article-info {
    color: $dark-blue;
    padding: 0 0 0 1.5rem;
    .meta_info {
      margin: 0 0 1rem 0;
      .date {
        color: $blue;
        font-family: $content;
        font-size: 0.95rem;
      }
      .reading_minutes {
        color: $blue;
        font-family: $content;
        font-size: 0.95rem;
      }
    }
    h2 {
      font-family: $content;
      font-size: 1.8rem;
      margin: 0 0 1rem 0;
      width: 80%;
    }
    h4 {
      color: $dark-blue;
      font-family: $content;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 1px;
      margin: 0;
      width: 80%;
    }
    .goto_article_btn a {
      background-color: $blue;
      border-radius: 7px;
      color: $main;
      font-family: $content;
      font-weight: 600;
      padding: 0.4rem 0.4rem 0.4rem 0.5rem;
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 1115px) and (min-width: 375px) {
  .article-card {
    flex-direction: column;
    .date {
      padding: 0.2rem 0 0.2rem 0.5rem;
    }
    .article-info {
      padding: 0.5rem;
      .meta_info {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        .date {
          padding: 0;
        }
      }
      h2 {
        font-size: 1.2rem;
        text-align: left;
        width: 80%;
      }
      h3 {
        font-size: 0.9rem;
        text-align: justify;
        width: 100%;
      }
    }
  }
}
