@import "variables";

.article-card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: auto;
  max-width: 100%;
  margin: 1rem 1rem 1rem 0;
  background-color: $mainv2;

  .date {
    font-family: $oxygen;
    background-color: $blue;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    color: #fbfffd;
    font-size: .9rem;
  }

  .article-info {
    color: $dark-blue;
    padding: 1rem;
    h2 {
      font-size: 1.2rem;
      margin: 0 0 1rem 0;
      font-family: $oxygen;
    }
    h3 {
      color: $dark-blue;
      margin: 0;
      font-family: $oxygen;
      font-weight: 300;
      font-size: .9rem;
    }
    p {
      font-family: $oxygen;
      a {
        background-color: $blue;
        padding: .3rem .3rem .3rem .5rem;
        border-radius: 7px;
        color: $mainv2;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .article-card {
    margin: 0.5rem auto;
    .date {
      padding: 0.2rem 0 0.2rem 0.5rem;
    }
    .article-info {
      padding: 0.5rem;
      h2 {
        font-size: 1rem;
        text-align: center;
      }
      h3 {
        font-size: 0.9rem;
      }
    }
  }
}
