@import "variables";

#footer {
  font-family: $content;
  .footer {
    background-color: $darker;
    border-radius: 10px;
    p {
      align-items: center;
      color: $gruv-light;
      display: flex;
      justify-content: center;
      padding: 4rem;
    }
  }
  .rights {
    align-items: center;
    color: $gruv-light;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 810px) and (min-width: 375px) {
  #footer {
    .footer1 {
      font-size: 0.8rem;
      padding: 1rem 10% 1rem 10%;
    }
    .footer2 {
      .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        a {
          font-size: 0.7rem;
          margin-right: 1rem;
        }
      }
    }
  }
}
