@import "variables";

.header {
  text-align: left;
  font-family: $oxygen;
  color: $main;
  font-size: 1.5rem;

  .login-btn {
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: $gray;
    font-size: 1rem;
    padding: 0;
    cursor: pointer;
  }
  
  .subtitle {
    color: rgb(197, 196, 196);
    font-size: 1rem;
    margin-bottom: .3rem;
  }
}

.title_title {
  font-family: $oxygen;
  color: $blue;
  margin-top: 5.5rem;
  margin-bottom: 1rem;
  font-size: 1.9rem;
}

@media only screen and (max-width: 375px) {
  
}