@import "variables";

.header {
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  color: $main;
  display: flex;
  font-family: $content;
  font-size: 1.5rem;
  justify-content: space-between;
  text-align: left;
  .home {
    display: flex;
    flex-direction: column;
  }
  .sign_in {
    align-items: center;
    display: flex;
    gap: .5rem;
    i {
      color: $dark-blue;
    }
    .button_to {
      padding-bottom: .45rem;
    }
  }
  .login-btn {
    background-color: transparent;
    border: none;
    color: rgb(197, 196, 196);
    cursor: pointer;
    font-size: 1rem;
    padding: 0;
    text-decoration: none;
  }
  .subtitle {
    color: rgb(197, 196, 196);
    font-size: 1rem;
    margin-bottom: .5rem;
    margin: 0;
  }
}
.title_title {
  color: $blue;
  font-family: $content;
  font-size: 1.9rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  a {
    color: $blue;
    text-decoration: none;
  }
}
