@import 'variables';

.login-title {
  color: $main;
  font-family: $content;
  padding-top: 1rem;
}
.field {
  label {
    color: $gray;
    font-family: $content;
  }
  input {
    font-family: $content;
  }
}