@import 'variables';

.pagination {
  align-items: center;
  color: $main;
  display: flex;
  font-family: $content;
  justify-content: space-between;
  .previous_page {
    background-color: $blue;
    padding: 1rem;
  }
}