@import "variables";

#posts {
  color: $dark;
  margin-top: 3rem;
  .section_title {
    font-family: $content;
    margin-bottom: 3rem;
    .aboutme {
      color: $blue;
      font-family: $content;
      font-size: 1.5rem;
      font-weight: 400;
      margin-bottom: 1rem;
      margin-top: 0;
    }
    .grid_things {
      color: $dark-blue;
      display: grid;
      grid-template-columns: 50% 55% 50%;
      margin: 2rem 0 0 0;
      .things {
        padding: 0.7rem;
        width: 18rem;
        h2 {
          color: $dark-blue;
          font-size: 1rem;
          font-weight: 700;
          text-align: left;
          i {
            font-size: 1rem;
            margin-right: 1rem;
          }
        }
        ul {
          line-height: 1.5rem;
          li {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
  .articles-grid {
    display: grid;
    grid-template-columns: 80% 20%;
    .presentation-text {
      font-family: $content;
      margin-top: 3rem;
      h2 {
        color: $blue;
        font-size: 3rem;
        font-weight: 300;
        margin: 0;
      }
      h3 {
        color: gray;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 300;
      }
    }
  }
}

@media only screen and (max-width: 1550px) and (min-width: 375px) {
  #posts {
    .section_title {
      margin-bottom: 1rem;
      .grid_things {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .articles-grid {
      display: flex;
      flex-direction: row;
    }
  }
}
@media only screen and (max-width: 655px) {
  #posts {
    .articles-grid {
      display: flex;
      flex-direction: column;
    }
  }
}
