@import 'variables';

.tag {
  margin-top: 2rem;
  font-size: 1rem;
  color: $main;
  cursor: pointer;
  border: 2px solid $main;
  border-radius: 10px;
  padding: .7rem;

  &:hover {
    background-color: $gruv-red;
    color: $main;
  }

  .icon {
    margin-right: .3rem;
  }
}