@import 'variables';

html.light {
  color: black;
  background-color: white;
}

html.dark {
  h2 {
    color: $light;
  }
  h4 {
    color: $gruv-light;
  }
  .article-card .article-info .meta_info .reading_minutes {
    color: $gruv-light;
    font-weight: 500;
  }
  .article-card .article-info .meta_info .date {
    font-weight: 400;
    color: $gruv-light;
  }
  .article-card .article-info h4 {
    color: $gruv-light;
  }
  .sidebar .card .card_content {
    color: $gruv-light;
  }
  .sidebar .card .card_content i {
    color: $gruv-light;
  }
  .sidebar .card .cards_titles {
    color: $gruv-light;
  }
  .sidebar .card {
    border: 1px solid $gray-dark;
  }
  .sidebar .card .cards_titles {
    border-bottom: 1px solid $gray-dark;
  }
  .article-card .article-info .goto_article_btn a {
    color: $gruv-light;
  }
  .article-card .thumb .cover_img {
    filter: brightness(75%);
  }
  #article #article-content .article-grid .content_table {
    border: 1px solid $gray-dark;
    color: $gruv-light;
  }
  #article #title {
    color: $gruv-light;
  }
  .trix-content h1 {
    color: $gruv-light;
  }
  .trix-content a {
    color: $gruv-light;
  }
  .trix-content * {
    font-style: normal;
    color: $gruv-light;
  }
  #article #article-content .reading_minutes {
    color: $gruv-light;
  }
  #article #article-content .shared .shared_count i {
    color: $gruv-light;
  }
  .trix-content img {
    filter: brightness(75%);
  }
  header {
    border-bottom: 1px solid $gray-dark;
  }
  background-color: $dark;
}