//COLORS
$main: #fff7f2;
$dark-blue: #2F383E;
$dark: #141414;
$gruv-light: #bebebe;
$blue: #34495e;
$light: #e6e6e6;
$darker: #1A1A1A;
$gray-dark: #333333;
$gray-light: #ebebeb;
$gray: #323232;

//FONTS
$content: 'Raleway';
