//COLORS
$main: #fff7f2;
$mainv2: #F7F7F5;
$dark-blue: #2F383E;
// $mainv2: #2F383E;
$coffee: #B36C65;
$black-coffee: #222222;
$mocha: #f2eceb;
$gruv-green-light: #b8bb26;
$gruv-green-dark: #98971a;
$gruv-black: #282828;
$gruv-blackv2: #1d2021;
$gruv-blackv3: #3c3836;
$gruv-light: #bebebe;
$gruv-cards: #83a598;
$gruv-aqua: #689d6a;
// $blue: #7FBBB3;
$blue: #34495e;
// $gray: rgb(197, 196, 196);
$gray: #323232;
$redlight: #F0E7E7;

//FONTS
$content: 'Raleway';
$oxygen: 'Oxygen Mono', monospace, sans-serif;