//COLORS
$main: #fff7f2;
$mainv2: #2F383E;
$coffee: #B36C65;
$black-coffee: #222222;
$mocha: #f2eceb;
$gruv-green-light: #b8bb26;
$gruv-green-dark: #98971a;
$gruv-black: #282828;
$gruv-blackv2: #1d2021;
$gruv-blackv3: #3c3836;
$gruv-light: #bebebe;
$gruv-cards: #83a598;
$gruv-yellow: #fabd2f;
$gruv-yellowv2: #fabd2f;
$gruv-red: #E69875;
$gruv-red-dark: #cc241d;
$gruv-aqua: #689d6a;
$blue: #7FBBB3;

//FONTS
$titles: 'Oswald', sans-serif;
$other: 'Mukta', sans-serif;