<footer id="footer">
  <div class="footer1">
    <div class="footer1_group1 ">
      <span class="logo">LOGO</span>
      <p>COPYRIGHT 2022 BY MANTEQUILLAH</p>
    </div>

    <div class="footer1_group2 ">
      <a href="#">ABOUT</a>
      <a href="#">CONTACT</a>
    </div>
  </div>

  <div class="footer2">
    <div class="container">
      <a href="https://twitter.com/mantequillah_" target="_blank"><i class="fa-brands fa-twitter"></i>TWITTER</a>
      <a href="https://www.linkedin.com/in/diego-salinas09/" target="_blank"><i class="fa-brands fa-linkedin-in"></i>LINKEDIN</a>
      <a href="https://github.com/diegoOG09" target="_blank"><i class="fa-brands fa-github-alt"></i>GITHUB</a>
      <a href="https://www.instagram.com/_diego.salinas/" target="_blank"><i class="fa-brands fa-instagram"></i>INSTAGRAM</a>
    </div>
  </div>
</footer>