<div class="sidebar">
  <div class="card">
    <h4 class="cards_titles">Contacto</h4>
    <p class="card_content">
      Mi nombre es Diego Salinas y soy desarrollador de software. Puedes contactarme via:
      <a href="https://twitter.com/mantequillah_" target="_blank"><i class="fa-brands fa-twitter"></i></a>,
      <a href="https://www.linkedin.com/in/diego-salinas09/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>,
      <a href="https://github.com/diegoOG09" target="_blank"><i class="fa-brands fa-github-alt"></i></a>.
    </p>
  </div>
  <div class="card">
    <h4 class="cards_titles">Acerca de mí</h4>
    <div class="card_content">
      <i class="fas fa-keyboard"></i> Trabajo con...
      <ul>
        <li>Ruby on Rails</li>
        <li>Javascript</li>
        <li>HTML/CSS</li>
        <li>GNU/Linux</li>
        <li>Terminal</li>
        <li>Vue pronto</li>
      </ul>
      <i class="fas fa-fire"></i> Apasionado con...
      <ul>
        <li>Código</li>
        <li>Cine</li>
        <li>Videojuegos</li>
        <li>Libros</li>
        <li>Música</li>
      </ul>
      <i class="fas fa-lightbulb"></i> Pensando en...
      <ul>
        <li>Vue</li>
        <li>Unit test</li>
        <li>Full-stack</li>
      </ul>
    </div>
  </div>
</div>